<!-- Save this code as templates/gallery.html -->
{% extends 'projectnavbar.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <!-- Add any additional stylesheets or scripts here -->
</head>
<body>
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Gallery</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/image1.jpg' %}" class="img-fluid" alt="Image 1">
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/image2.jpg' %}" class="img-fluid" alt="Image 2">
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/image3.jpg' %}" class="img-fluid" alt="Image 3">
        </div>
          <div class="col-md-4" style="margin-top:10px;">
            <img src="{% static 'images/image4.jpg' %}" class="img-fluid" alt="Image 3">
        </div>
          <div class="col-md-4" style="margin-top:10px;">
            <img src="{% static 'images/image5.jpg' %}" class="img-fluid" alt="Image 3">
        </div>
          <div class="col-md-4" style="margin-top:10px;">
            <img src="{% static 'images/image6.jpg' %}" class="img-fluid" alt="Image 3">
        </div>
    </div>
    <!-- Add more rows and columns for additional images -->
</div>
{% endblock %}
</body>
</html>
