
{% load static %}
<html>
<head>
    <title>SIGNUP</title>
</head>
<body>
{% block body %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="container" style="display: flex; justify-content: center; align-items: center; height: 85vh;">
        <div class="form-container" style="width: 400px; padding: 10px; border: 1px solid #ccc; border-radius: 8px; background-color: #f9f9f9;">
            <h1 style="margin-bottom: 20px; text-align: center; color: #333;">SIGNUP</h1>
            <form method="post" action="{% url 'signup1' %}" style="text-align: center;">
                {% csrf_token %}
                <div class="input-group" style="margin-bottom: 15px;">
                    <label style="font-weight: bold; display: block;">Username</label>
                    <input type="text" name="username" placeholder="" style="width: 100%; padding: 3px; border: 1px solid #ccc; border-radius: 3px;">
                </div>
                 <div class="input-group" style="margin-bottom: 15px;">
                    <label style="font-weight: bold; display: block;">Email</label>
                    <input type="email" name="email" placeholder="" style="width: 100%; padding: 3px; border: 1px solid #ccc; border-radius: 5px;">
                </div>
                <div class="input-group" style="margin-bottom: 15px;">
    <label style="font-weight: bold; display: block;">Phone Number</label>
    <input type="text" name="phonenumber" style="width: 100%; padding: 3px; border: 1px solid #ccc; border-radius: 5px;">
</div>

                <div class="input-group" style="margin-bottom: 15px;">
                    <label style="font-weight: bold; display: block;">Password</label>
                    <input type="password" name="password" style="width: 100%; padding: 3px; border: 1px solid #ccc; border-radius: 5px;">
                </div>
                <div class="input-group" style="margin-bottom: 15px;">
                    <label style="font-weight: bold; display: block;">Confirm Password</label>
                    <input type="password" name="password1" style="width: 100%; padding: 3px; border: 1px solid #ccc; border-radius: 5px;">
                </div>
                <button type="submit" name="SUBMIT" style="background-color: #007bff; color: #fff; border: none; padding: 5px 10px; border-radius: 3px; cursor: pointer;">SUBMIT</button>
            </form>
            <p style="margin-left:10px">If already registered? <a href="{% url 'login' %}" style="margin-left:0px;text-decoration:none">Login</a></p>
        </div>
        </div>
    </div>
{% endblock %}
</body>
</html>